# Xcode
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.o
*.d

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.dmg

# SwiftPM
.build/
.swiftpm/

# CocoaPods (not used, but just in case)
Pods/
